@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.reservation {
  background-color: $color-light-grey;
  margin-top: -30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;

    h1, p {
      text-align: center;
    }

    h1 {
      padding-top: 35px;
      font-size: 27px;
    }

    p {
      font-weight: 300;
      font-size: 17px;
    }
}

.functioning {

  h2 {
    text-align: center;
    margin-top: 50px;
  }

  @media screen and (max-width: 600px) {
    h2 {
      text-align: left;
      margin: 50px 0 30px 20px;
    }
  }

      &__container {
        @include d-flex;
        margin: 20px 20px 30px 30px;

        @media screen and (min-width: 600px) and (max-width: 1220px) {
          margin: 20px 10px 30px 20px;
        }

        @media screen and (max-width: 600px) {
          flex-direction: column;
          margin: 0 10px 20px 20px

        }
      }

      &__card {
        display: flex;
        align-items: center;
        border-radius: 25px;
        background-color: $color-light-grey;
        box-shadow: $box-shadow;
        padding: 15px 50px 15px 0;
        margin: 30px 40px;
        flex: 1;
        transition: background 200ms ease-out 150ms;

        @media screen and (min-width: 600px) and (max-width: 1220px) {
          padding: 15px 15px 15px 0;
          margin: 30px 15px;
        }

        @media screen and (max-width: 600px) {
          justify-content: left;
          padding: 10px 0 10px 0;
          margin: 0 10px 25px 10px;
        }

        &:hover{
          background: $color-primary-light;
          cursor: pointer;

          i {
            color: $color-primary;
          }
        }

          &__number{
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: $color-primary;
            color: white;
            text-align: center;
            padding-top: 6px;
            margin-left: -13px;
          }

        i {
          padding-right: 20px;
          padding-left: 20px;
          font-size: 18px;
          color: $color-dark-grey;
          transition: color 200ms ease-out 150ms;

          @media screen and (min-width: 600px) and (max-width: 1220px) {
            padding-right: 15px;
          }
        }

        p {
          font-weight: bold;
          font-size: 15px;
        }
      }
}

.restaurants {
  background-color: $color-light-grey;
  padding: 30px;

  @media screen and (max-width: 600px) {
    padding: 40px 20px 40px 20px;
  }

  h2 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
  }

  @media screen and (max-width: 600px) {
    h2 {
      text-align: left;
      margin: 15px 0 20px 0;
    }
  }

  &__container {
    @include d-flex;
    flex-wrap: wrap;
    gap: 25px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

    &__card {
      background-color: white;
      box-shadow: $box-shadow;
      border-radius: 15px;
      flex: 1;
      position: relative;

      @media screen and (min-width: 600px) and (max-width: 1220px) {
        min-width: 370px;
      }

        img {
          width: 100%;
          border-radius: 15px 15px 0 0;
          height: 160px;
          object-fit: cover;
          object-position: bottom;
      }

      .menu2 {
        object-position: unset;
      }
    }

    &__content {
      @include d-flex;
      align-items: center;
      padding: 5px 25px 10px 10px;

        h3 {
          font-size: 18px;
          font-weight: bold;
        }

        p, h3 {
          margin: 5px;
          font-size: 17px;
        }

        i {
          font-size: 22px;
        }
    }

    &__insert {
      border-radius: 3px;
      background-color: $color-tertiary;
      color: $color-tertiary-dark;
      text-align: center;
      padding: 6px 10px;
      position: absolute;
      margin: 15px;
      font-size: 14px;
      font-weight: bold;
      right: 5px;
  }
}



