@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer {
  background-color: $color-footer;
  padding: 10px 0 15px 40px;
  color: white;

  @include mobile-only {
    padding-left: 20px;
  }

  img {
    margin-top: 20px;
    width: 110px;
    filter: invert(1);
  }

  p {
    font-family: "Shrikhand", sans-serif, serif;
  }

  ul {
    display: flex;
    padding: 0;
    gap: 25px;

    @include mobile-only {
      flex-direction: column;
      gap: 7px;
    }

    li > a {
      color: white;
    }
  }

  .fa-utensils {
    font-size: 14px;
    padding-right: 13px;
  }

  .fa-handshake-angle {
    font-size: 10px;
    padding-right: 12px;
  }
}