nav {
  padding: 25px 0 10px 0;
  text-align: center;

    img {
      width: 170px;
    }

    .fa-arrow-left {
      font-size: 20px;
      position: absolute;
      left: 20px;
      }
    }

    .location {
      margin-top: 10px;
      background-color: #eaeaea;
      text-align: center;
      padding: 15px;

      input {
        outline: none;
        background-color: #eaeaea;
        border: none;
        text-align: center;
        width: 145px;
      }
      }

  .banner {
    img {
      width: 100%;
      object-fit: cover;
      margin-bottom: -50px;
      height: 250px;
    }
  }