button {
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    border: none;
    color: white;
    padding: 15px 20px 15px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 300ms;

    &:hover{
        opacity: 0.9;
    }
  }

.menu__button {
    padding-right: 50px;
    padding-left: 50px;
}